.header-nav-icon {
	font-size: 3rem;
	color: white;
}
.color-bg-a {
	background-color: $color-a;
}
.color-bg-b {
	background-color: $color-b;
}
.color-bg-c {
	background-color: $color-c;
}
.color-bg-d {
	background-color: $color-d;
}
.color-bg-e {
	background-color: $color-e;
}
.color-bg-f {
	background-color: $color-f;
}
.color-bg-g {
	background-color: $color-g;
}
.color-bg-h {
	background-color: $color-h;
}
.color-bg-i {
	background-color: $color-i;
}
