// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

 // Colors pallette

$color-a: #3490dc;
$color-b: #6574cd;
$color-c: #9561e2;
$color-d: #E5D4CE;
$color-e: #DE6E4B;
$color-f: #7FD1B9;
$color-g: #FAFAFF;
$color-h: #E4D9FF;
$color-i: #4BC6B9;